footer {
    background-color: white;
    color: black;
    text-align: center;
}

form {
    padding-left: 15%;
    padding-top: 20px;
    padding-bottom: 40px;
}

h1 {
    padding-left: 5%;
    padding-top: 5px;
    padding-bottom: 5px;
}

h2 {
    padding-left: 10%;
    padding-top: 20px;
}

header, main {
    background-color: black;
    color: white;
}

html {
    font-family: Helvetica;
}

nav {
    background-color: white;
    color: black;
}

.nav-item:hover {
    background-color: black !important;
}

.nav-link:hover {
    color: white !important;
}

p {
    text-align: left;
    padding: 20px 20% 20px;
}

table {
    width: 100%;
}

td {
    padding: 10px 8% 10px;
}